---
import BaseLayout from '../../layouts/BaseLayout.astro';
import {getAllPosts, getPost} from '../../data/blog-data';
import Tag from '../../components/Tag.astro';
import Author from '../../components/Author.astro';

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {params: { slug: post.node.slug }}
  })
}
const { slug } = Astro.params;
const post = await getPost(slug);
---
<BaseLayout pageTitle={slug}>
  <article class="bg-white p-3 mt-3 flex flex-col">
    <img class="rounded-lg" src={post.coverImage?.url} alt={post.title} />
    <h1 class="text-4xl font-bold pt-5">{post?.title}</h1>
    <h2 class="text-xl pt-3 pb-3">{post.subtitle}</h2>

    <Author post={post} />
    
    <div class="flex flex-wrap justify-center items-center mt-5 mb-5">
      {post?.tags.map((tag) => <Tag tag={tag} />)}
    </div>
    
    <div class="post-details">
      <p set:html={post?.content?.html} />
    </div>
  </article>
</BaseLayout>